.card {
  width: 100%;
  margin: 0 1rem 3rem 0;
  float: left;
  box-shadow: 0 2px 27px rgba(0,0,0,.05);

  @media screen and (min-width: $breakpoint-small) {
    width: calc((100% - 3rem) / 2);
  }
  
  @media screen and (min-width: $breakpoint-med) {
    width: calc((100% - 3rem) / 3);
  }

  @media screen and (min-width: $breakpoint-large) {
    width: calc((100% - 4rem) / 4);
  }

  .card-image {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 75%;
    position: relative;

    .main-image {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      object-fit: cover;
    }

    button {
      position: absolute;
      top: 0.5rem;
      right: 0.2rem;
      z-index: 9998;
      background: none;
      border: 0;
      padding: 0;
      outline: none;
      cursor: pointer;
    }
  }

  .card-details {
    padding: 1.5rem;
  }
}